// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) 2023 Emcraft Systems
 * Author(s): Vladimir Skvortsov <vskvortsov@emcraft.com>
 */

#include "../../armv7-m.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/imxrt1170-clock.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	clocks {
		osc: osc {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};

		rcosc16M: rcosc16M {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <16000000>;
		};

		osc32k: osc32k {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	aliases {
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		gpio4 = &gpio5;
		gpio5 = &gpio6;
		gpio6 = &gpio7;
		gpio7 = &gpio8;
		gpio8 = &gpio9;
		gpio9 = &gpio10;
		gpio10 = &gpio11;
		gpio11 = &gpio12;
		gpio12 = &gpio13;
		mmc0 = &usdhc1;
		serial0 = &lpuart1;
	};

	soc {
		iomuxc: iomuxc@400e8000 {
			compatible = "fsl,imxrt1170-iomuxc";
			reg = <0x400e8000 0x4000>;
			fsl,mux_mask = <0xf>;
		};

		gpr: iomuxc-gpr@400e4000 {
			compatible = "fsl,imxrt1170-iomuxc-gpr", "syscon";
			reg = <0x400e4000 0x4000>;
		};

		iomuxc_lpsr: iomuxc_lpsr@40c08000 {
			compatible = "fsl,imxrt1170-lpsr-iomuxc";
			reg = <0x40c08000 0x4000>;
			fsl,mux_mask = <0xf>;
		};

		iomuxc_snvs: iomuxc_snvs@40c94000 {
			compatible = "fsl,imxrt1170-lpsr-iomuxc";
			reg = <0x40c94000 0x4000>;
			fsl,mux_mask = <0x7>;
		};

		lpuart1: serial@4007c000 {
			compatible = "fsl,imxrt-lpuart", "fsl,imxrt1050-lpuart";
			reg = <0x4007c000 0x4000>;
			interrupts = <20>;
			clocks = <&clks IMXRT1170_CLK_LPUART1>;
			clock-names = "ipg";
			status = "disabled";
		};

		anatop: anatop@40c84000 {
			compatible = "fsl,imxrt-anatop";
			reg = <0x40c84000 0x4000>;
		};

		clks: ccm@40cc0000 {
			compatible = "fsl,imxrt1170-ccm";
			reg = <0x40cc0000 0x4000>;
			#clock-cells = <1>;
			clocks = <&osc>, <&rcosc16M>;
			clock-names = "osc", "rcosc16M";
		};

		usdhc1: usdhc@40418000 {
			compatible = "fsl,imxrt-usdhc", "fsl,imx6sl-usdhc";
			reg = <0x40418000 0x10000>;
			interrupts = <133>;
			clocks = <&clks IMXRT1170_CLK_USDHC1>;
			clock-names = "per";
			bus-width = <4>;
			fsl,tuning-start-tap = <20>;
			fsl,tuning-step= <2>;
			status = "disabled";
		};

		fec1: ethernet@40424000 {
			compatible = "fsl,mvf600-fec";
			reg = <0x40424000 0x4000>;
			interrupts = <137>;

			fsl,num-tx-queues=<1>;
			fsl,num-rx-queues=<1>;
			status = "disabled";
                };

		gpio1: gpio@4012c000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x4012c000 0x4000>;
			interrupts = <100>,
				     <101>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 0 32>;
		};

		gpio2: gpio@40130000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40130000 0x4000>;
			interrupts = <102>,
				<103>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 32 32>;
		};

		gpio3: gpio@40134000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40134000 0x4000>;
			interrupts = <104>,
				<105>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 64 32>;
		};

		gpio4: gpio@40138000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40138000 0x4000>;
			interrupts = <106>,
					<107>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 96 32>;
		};

		gpio5: gpio@4013c000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x4013c000 0x4000>;
			interrupts = <108>,
				<109>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 128 32>;
		};

		gpio6: gpio@40140000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40140000 0x4000>;
			interrupts = <61>,
				<62>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 160 32>;
		};

		gpio7: gpio@40c5c000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40c5c000 0x4000>;
			interrupts = <99>,
				<99>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 192 32>;
		};

		gpio8: gpio@40c60000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40c60000 0x4000>;
			interrupts = <99>,
				<99>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 224 32>;
		};

		gpio9: gpio@40c64000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40c64000 0x4000>;
			interrupts = <99>,
				<99>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 256 32>;
		};

		gpio10: gpio@40c68000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40c68000 0x4000>;
			interrupts = <99>,
				<99>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 288 32>;
		};

		gpio11: gpio@40c6c000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40c6c000 0x4000>;
			interrupts = <99>,
				<99>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc 0 320 32>;
		};

		gpio12: gpio@40c70000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40c70000 0x4000>;
			interrupts = <61>,
				<62>; // only cm4
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc_lpsr 0 0 32>;
		};

		gpio13: gpio@40ca0000 {
			compatible = "fsl,imxrt-gpio", "fsl,imx35-gpio";
			reg = <0x40ca0000 0x4000>;
			interrupts = <93>,
				<93>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-ranges = <&iomuxc_snvs 0 0 32>;
		};

		gpt1: gpt1@400ec000 {
			compatible = "fsl,imxrt1170-gpt";
			reg = <0x400ec000 0x4000>;
			interrupts = <119>;
			clocks = <&clks IMXRT1170_CLK_GPT1>;
			clock-names = "per";
			status = "disabled";
		};
	};
};
