// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

#include "imx93-11x11-evk.dts"

/{
	aliases {
		/delete-property/ i2c0;
	};
};

/delete-node/&lpi2c1;

/*
 * When add i2c devices on i3c bus, the reg property should be changed to:
 *         reg = <0x1a 0x00 0x50>;
 * The first byte is still the address of the i2c device;
 * The second byte is always 0x00;
 * The third byte is the communication speed of this i2c device;
 *         0x20 means 1MHz(FM+);
 *         0x50 means 400KHz(FM);
 * In compatibility mode, I3C will use the slowest setting of all targets
 * for i2c communication.
 */
&i3c1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_i3c1>;
	pinctrl-1 = <&pinctrl_i3c1>;
	i2c-scl-hz = <400000>;
	status = "okay";

	adv7535: hdmi@3d {
		compatible = "adi,adv7535";
		reg = <0x3d 0x00 0x50>;
		adi,addr-cec = <0x3b>;
		adi,dsi-lanes = <4>;
		status = "okay";

		port {
			adv7535_to_dsi: endpoint {
				remote-endpoint = <&dsi_to_adv7535>;
			};
		};
	};

	/* i3c device with static i2c address*/
	lsm6dso_i3c: imu@6a,208006c0000 {
		reg = <0x6a 0x208 0x6c0000>;
		assigned-address = <0x6a>;
	};

	/* i2c device */
	ptn5110: tcpc@50 {
		compatible = "nxp,ptn5110";
		reg = <0x50 0x00 0x50>;
		interrupt-parent = <&pcal6524>;
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";

		port {
			typec1_dr_sw: endpoint {
				remote-endpoint = <&usb1_drd_sw>;
			};
		};

		typec1_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				     PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;
		};
	};

	ptn5110_2: tcpc@51 {
		compatible = "nxp,ptn5110";
		reg = <0x51 0x00 0x50>;
		interrupt-parent = <&pcal6524>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";

		port {
			typec2_dr_sw: endpoint {
				remote-endpoint = <&usb2_drd_sw>;
			};
		};

		typec2_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				     PDO_VAR(5000, 20000, 3000)>;
			op-sink-microwatt = <15000000>;
			self-powered;
		};
	};

	adp5585_isp: mfd-isp@34 {
		compatible = "adi,adp5585";
		reg = <0x34 0x00 0x50>;
		status = "okay";

		adp5585gpio_isp: gpio-isp@34 {
			compatible = "adp5585-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};
	};
};

&iomuxc {
	pinctrl_i3c1: i3c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__I3C1_SCL	0x4000019e
			MX93_PAD_I2C1_SDA__I3C1_SDA	0x4000019e
		>;
	};
};
