// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 NXP
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "imx952-clock.h"
#include "imx952-pinfunc.h"

&{/} {
	sound-mqs {
		status = "disabled";
	};
	mic_leds {
		compatible = "gpio-leds";
		mic0 {
			label = "mic0";
			gpios = <&pca9555 5 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic1 {
			label = "mic1";
			gpios = <&pca9555 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic2 {
			label = "mic2";
			gpios = <&pca9555 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic3 {
			label = "mic3";
			gpios = <&pca9555 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic4 {
			label = "mic4";
			gpios = <&pca9555 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic5 {
			label = "mic5";
			gpios = <&pca9555 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic6 {
			label = "mic6";
			gpios = <&pca9555 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		mic7 {
			label = "mic7";
			gpios = <&pca9555 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	sw_keys {
		compatible = "gpio-keys";

		sw4: volume_down {
			label = "Volume Down";
			gpios = <&pca9555 15 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		sw3: volume_up {
			label = "Volume Up";
			gpios = <&pca9555 14 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};

		sw2: volume_mute {
			label = "Volume Mute";
			gpios = <&pca9555 13 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MUTE>;
		};

		sw1: key_act {
			label = "Key Act";
			gpios = <&pca9555 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_F9>;
		};
	};

	reg_audio_pwr: regulator-audio-pwr {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_audio_pwr>;
		regulator-name = "cs42448-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	sound-amix {
		compatible = "audio-graph-card2";
		label = "audmix-cs42448";
		routing = "SAI6 SAI-Playback", "ASRC1 ASRCA-Playback",
			  "SAI3 SAI-Playback", "ASRC2 ASRCA-Playback",
			  "AUDMIX-Playback-0", "SAI6 SAI-Playback",
			  "AUDMIX-Playback-1", "SAI3 SAI-Playback",
			  "Playback", "ASRC1 ASRCA-Playback",
			  "Playback", "ASRC2 ASRCA-Playback",
			  "SAI6 SAI-Capture", "AUDMIX-Capture-0",
			  "SAI3 SAI-Capture", "Capture",
			  "ASRC2 ASRCB-Capture", "SAI3 SAI-Capture";
		links = <&fe00 &fe01 &fe02 &fe03 &be00 &be01 &be02 &be03 &be04>;

		multi {
			#address-cells = <1>;
			#size-cells = <0>;

			ports@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					mbe0_ep: endpoint {
						remote-endpoint = <&be00_ep>;
					};
				};/* (X) to pair */
				port@1 {
					reg = <1>;
					mcodec01_ep: endpoint {
						remote-endpoint = <&sai6_endpoint0>;
					};
				};/* (A) Multi Element */
				port@2 {
					reg = <2>;
					mcodec02_ep: endpoint {
						remote-endpoint = <&amix_endpoint0>;
					};
				};/* (B) Multi Element */
			};

			ports@1 {
				reg = <1>;
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					mbe1_ep: endpoint {
						remote-endpoint = <&be01_ep>;
					};
				};/* (X) to pair */
				port@1 {
					reg = <1>;
					mcodec11_ep: endpoint {
						remote-endpoint = <&sai3_endpoint0>;
					};
				};/* (A) Multi Element */
				port@2 {
					reg = <2>;
					mcodec12_ep: endpoint {
						remote-endpoint = <&amix_endpoint1>;
					};
				};/* (B) Multi Element */
			};
		};

		dpcm {
			#address-cells = <1>;
			#size-cells = <0>;

			ports@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;

				fe00: port@0 {
					reg = <0>;
					fe00_ep: endpoint {
						remote-endpoint = <&asrc1_endpoint0>;
					};
				};
				fe01: port@1 {
					reg = <1>;
					fe01_ep: endpoint {
						remote-endpoint = <&asrc2_endpoint0>;
					};
				};
				fe02: port@2 {
					reg = <2>;
					fe02_ep: endpoint {
						remote-endpoint = <&sai6_endpoint1>;
					};
				};
				fe03: port@3 {
					reg = <3>;
					fe03_ep: endpoint {
						remote-endpoint = <&asrc2_endpoint1>;
					};
				};
			};

			ports@1 {
				reg = <1>;
				#address-cells = <1>;
				#size-cells = <0>;
				convert-rate = <48000>;
				convert-sample-format = "s16_le";

				be00: port@0 {
					reg = <0>;
					be00_ep: endpoint {
						remote-endpoint = <&mbe0_ep>;
					};
				};
				be01: port@1 {
					reg = <1>;
					be01_ep: endpoint {
						remote-endpoint = <&mbe1_ep>;
					};
				};
				be02: port@2 {
					reg = <2>;
					be02_ep: endpoint {
						remote-endpoint = <&amix_endpoint2>;
					};
				};
				be03: port@3 {
					reg = <3>;
					be03_ep: endpoint {
						remote-endpoint = <&sai3_endpoint1>;
					};
				};
				be04: port@4 {
					reg = <4>;
					be04_ep: endpoint {
						remote-endpoint = <&codec0_ep>;
					};
				};
			};
		};
	};

	sound-micfil {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_swpdm_mute_irq>;
	};
};

&amix {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			playback-only;

			amix_endpoint0: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				remote-endpoint = <&mcodec02_ep>;
			};
		};

		port@1 {
			reg = <1>;
			playback-only;

			amix_endpoint1: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				remote-endpoint = <&mcodec12_ep>;
			};
		};

		port@2 {
			reg = <2>;
			capture-only;

			amix_endpoint2: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				bitclock-master;
				frame-master;
				remote-endpoint = <&be02_ep>;
			};
		};
	};
};

&asrc1 {
	sound-name-prefix = "ASRC1";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			playback-only;
			asrc1_endpoint0: endpoint {
				remote-endpoint = <&fe00_ep>;
			};
		};

		port@1 {
			reg = <1>;
			capture-only;
			asrc1_endpoint1: endpoint {
			};
		};
	};
};

&asrc2 {
	sound-name-prefix = "ASRC2";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			playback-only;
			asrc2_endpoint0: endpoint {
				remote-endpoint = <&fe01_ep>;
			};
		};

		port@1 {
			reg = <1>;
			capture-only;
			asrc2_endpoint1: endpoint {
				remote-endpoint = <&fe03_ep>;
			};
		};
	};
};

&dmic {
	num-channels = <8>;
};

&pcal6416 {
	can-gpio-sel-hog {
		status = "disabled";
	};
	can-gpio-sel-gpio-hog {
		gpios = <4 GPIO_ACTIVE_HIGH>;
		gpio-hog;
		output-high;
	};
};

&sai3 {
	assigned-clocks = <&scmi_clk IMX952_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX952_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX952_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX952_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX952_CLK_SAI3>;
	assigned-clock-parents = <0>, <0>, <0>, <0>,
				 <&scmi_clk IMX952_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>, <3612672000>,
			       <393216000>, <361267200>, <12288000>;
	pinctrl-0 = <&pinctrl_sai3audhat>;
	pinctrl-names = "default";
	fsl,sai-asynchronous;
	fsl,sai-amix-mode = "audmix";
	fsl,sai-mclk-direction-output;
	sound-name-prefix = "SAI3";
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			playback-only;

			sai3_endpoint0: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				bitclock-master;
				frame-master;
				remote-endpoint = <&mcodec11_ep>;
			};
		};

		port@2 {
			reg = <2>;
			capture-only;

			sai3_endpoint1: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				bitclock-master;
				frame-master;
				remote-endpoint = <&be03_ep>;
			};
		};

	};
};

&sai6 {
	assigned-clocks = <&scmi_clk IMX952_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX952_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX952_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX952_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX952_CLK_SAI3>;
	assigned-clock-parents = <0>, <0>, <0>, <0>, <&scmi_clk IMX952_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>, <3612672000>, <393216000>, <361267200>, <12288000>;
	fsl,sai-mclk-direction-output;
	fsl,sai-asynchronous;
	sound-name-prefix = "SAI6";
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			playback-only;

			sai6_endpoint0: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				bitclock-master;
				frame-master;
				remote-endpoint = <&mcodec01_ep>;
			};
		};

		port@2 {
			reg = <2>;
			capture-only;

			sai6_endpoint1: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-tdm-slot-width-map = <32 32 8>;
				dai-format = "dsp_a";
				remote-endpoint = <&fe02_ep>;
			};
		};
	};
};

&flexcan2 {
	status = "disabled";
};

&tpm3 {
	status = "disabled";
};

&tpm4 {
	status = "disabled";
};

&micfil {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pdm2>;
	status = "okay";
};

&lpi2c6 {
	#address-cells= <1>;
	#size-cells= <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c6>;
	status = "okay";

	pca9555: gpio@21 {
		compatible = "nxp,pca9555";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pushbutton_irq>;
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
		interrupt-parent = <&gpio2>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;
		vcc-supply = <&reg_ext_3v3>;
		status = "okay";
	};

	cs42448: cs42448@48 {
		#sound-dai-cells = <0>;
		compatible = "cirrus,cs42448";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_codec_reset>;
		reg = <0x48>;
		clocks = <&scmi_clk IMX952_CLK_SAI3>;
		clock-names = "mclk";
		VA-supply = <&reg_audio_pwr>;
		VD-supply = <&reg_audio_pwr>;
		VLS-supply = <&reg_audio_pwr>;
		VLC-supply = <&reg_audio_pwr>;
		reset-gpio = <&gpio2 25 GPIO_ACTIVE_LOW>;
		status = "okay";

		port  {
			codec0_ep: endpoint {
				dai-tdm-slot-num = <8>;
				dai-tdm-slot-width = <32>;
				dai-format = "dsp_a";
				remote-endpoint = <&be04_ep>;
			};
		};
	};
};

&scmi_iomuxc {
	pinctrl_swpdm_mute_irq: swpdm_mute_grp {
		fsl,pins = <
			IMX952_PAD_GPIO_IO00__WAKEUPMIX_TOP_GPIO2_IO_0			0x31e
		>;
	};

	pinctrl_pushbutton_irq: pushbutton_grp {
		fsl,pins = <
			IMX952_PAD_GPIO_IO27__WAKEUPMIX_TOP_GPIO2_IO_27			0x31e
		>;
	};

	pinctrl_pdm2: pdm2grp {
		fsl,pins = <
			IMX952_PAD_GPIO_IO04__AONMIX_TOP_PDM_CLK		0x31e
			IMX952_PAD_GPIO_IO05__AONMIX_TOP_PDM_BIT_STREAM_0	0x31e
			IMX952_PAD_GPIO_IO06__AONMIX_TOP_PDM_BIT_STREAM_1	0x31e
			IMX952_PAD_GPIO_IO12__AONMIX_TOP_PDM_BIT_STREAM_2	0x31e
			IMX952_PAD_GPIO_IO13__AONMIX_TOP_PDM_BIT_STREAM_3	0x31e
		>;
	};

	pinctrl_sai3audhat: sai3audhat {
		fsl,pins = <
			IMX952_PAD_GPIO_IO17__WAKEUPMIX_TOP_SAI3_MCLK			0x31e
			IMX952_PAD_GPIO_IO18__WAKEUPMIX_TOP_SAI3_RX_BCLK		0x31e
			IMX952_PAD_GPIO_IO19__WAKEUPMIX_TOP_SAI3_RX_SYNC		0x31e
			IMX952_PAD_GPIO_IO20__WAKEUPMIX_TOP_SAI3_RX_DATA_0		0x31e
			IMX952_PAD_GPIO_IO16__WAKEUPMIX_TOP_AUDMIX_TDM_OUT_TXBCLK	0x4000031e
			IMX952_PAD_GPIO_IO21__WAKEUPMIX_TOP_AUDMIX_TDM_OUT_TXDATA	0x4000031e
			IMX952_PAD_GPIO_IO26__WAKEUPMIX_TOP_AUDMIX_TDM_OUT_TXSYNC	0x4000031e
		>;
	};

	pinctrl_audio_pwr: audiopwrgrp {
		fsl,pins = <
			IMX952_PAD_GPIO_IO01__WAKEUPMIX_TOP_GPIO2_IO_1		0x31e
		>;
	};

	pinctrl_codec_reset: codecresetgrp {
		fsl,pins = <
			IMX952_PAD_GPIO_IO25__WAKEUPMIX_TOP_GPIO2_IO_25		0x31e
		>;
	};

	pinctrl_lpi2c6: lpi2c6grp {
		fsl,pins = <
			IMX952_PAD_GPIO_IO02__WAKEUPMIX_TOP_LPI2C6_SDA			0x40000b9e
			IMX952_PAD_GPIO_IO03__WAKEUPMIX_TOP_LPI2C6_SCL			0x40000b9e
		>;
	};
};

