// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022-2025 NXP
 */

#include <dt-bindings/clock/imx93-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/i3c/i3c.h>

#include "imx93-pinfunc.h"

/dts-v1/;
/plugin/;

&lpi2c1 {
	status = "disabled";
};

&{/} {
	sound-wm8962 {
		audio-codec = <&wm8962>;
	};
};

&i3c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i3c1>;
	#address-cells = <3>;
	#size-cells = <0>;
	i2c-scl-hz = <400000>;
	status = "okay";

	/* i2c devices */
	wm8962: codec@1a {
		compatible = "wlf,wm8962";
		reg = <0x1a 0x00 (I2C_FM | I2C_NO_FILTER_LOW_FREQUENCY)>;
		clocks = <&clk IMX93_CLK_SAI3_GATE>;
		DCVDD-supply = <&reg_audio_pwr>;
		DBVDD-supply = <&reg_audio_pwr>;
		AVDD-supply = <&reg_audio_pwr>;
		CPVDD-supply = <&reg_audio_pwr>;
		MICVDD-supply = <&reg_audio_pwr>;
		PLLVDD-supply = <&reg_audio_pwr>;
		SPKVDD1-supply = <&reg_audio_pwr>;
		SPKVDD2-supply = <&reg_audio_pwr>;
		gpio-cfg = <
			0x0000 /* 0:Default */
			0x0000 /* 1:Default */
			0x0000 /* 2:FN_DMICCLK */
			0x0000 /* 3:Default */
			0x0000 /* 4:FN_DMICCDAT */
			0x0000 /* 5:Default */
		>;
	};

	adv7535: hdmi@3d {
		compatible = "adi,adv7535";
		reg = <0x3d 0x00 (I2C_FM | I2C_NO_FILTER_LOW_FREQUENCY)>;
		adi,addr-cec = <0x3b>;
		adi,dsi-lanes = <4>;
		status = "okay";

		port {
			adv7535_to_dsi: endpoint {
				remote-endpoint = <&dsi_to_adv7535>;
			};
		};
	};

};

&dsi_to_adv7535 {
	remote-endpoint = <&adv7535_to_dsi>;
};

&iomuxc {
	pinctrl_i3c1: i3c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SCL__I3C1_SCL	0x40000186
			MX93_PAD_I2C1_SDA__I3C1_SDA	0x40000186
		>;
	};
};
