// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 NXP
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/}  {
	reg_aqr_stby: regulator-aqr-stby {
		compatible = "regulator-fixed";
		regulator-name = "aqr-stby";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c3_gpio_expander_20 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	reg_aqr_en: regulator-aqr-en {
		compatible = "regulator-fixed";
		regulator-name = "aqr-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_aqr_stby>;
		gpio = <&i2c4_gpio_expander_22 15 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_serdes_en: regulator-mac-en {
		compatible = "regulator-fixed";
		regulator-name = "mac-en";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&i2c4_gpio_expander_22 21 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};
};

&netc_emdio {
	phy-supply = <&reg_aqr_en>;
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy2: ethernet-phy@8 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <8>;
	};
};

&enetc_port2 {
	phy-handle = <&ethphy2>;
	phy-mode = "10gbase-r";
	serdes-supply = <&reg_serdes_en>;
	managed = "in-band-status";
	status = "okay";
};
