config RADIO_STFM1000
	tristate "STFM1000 support"
	depends on I2C && VIDEO_V4L2 && ARCH_STMP3XXX
	select I2C_ALGOBIT
	---help---
	  Choose Y here if you have this FM radio card, and then fill in the
	  port address below.

	  In order to control your radio card, you will need to use programs
	  that are compatible with the Video For Linux API.  Information on
	  this API and pointers to "v4l" programs may be found at
	  <file:Documentation/video4linux/API.html>.

	  To compile this driver as a module, choose M here: the
	  module will be called stfm1000.

config RADIO_STFM1000_ALSA
	tristate "STFM1000 audio support"
	depends on RADIO_STFM1000 && SND
	select SND_PCM
	---help---
	  This is a video4linux driver for direct (DMA) audio in
	  STFM1000 using ALSA

	  To compile this driver as a module, choose M here: the
	  module will be called stfm1000-alsa.
