if ARCH_STMP378X

config FB_STMP37XX_HX8238A
	depends on ARCH_STMP37XX
	bool "HX8238A"
	---help---
	  Use HX8238A dotclock LCD panel for STMP37XX

config FB_STMP37XX_LMS350
	depends on ARCH_STMP378X
	bool "LMS350"
	---help---
	  Use LMS350 dotclock LCD panel for STMP378X

config FB_STMP37XX_LMS430
	depends on ARCH_STMP378X
	bool "LMS430"
	---help---
	  Use LMS430 dotclock LCD panel for STMP378X

config FB_STMP378X_TVENC
	depends on ARCH_STMP378X
	bool "TVENC"
	---help---
	  Use TVOUT encoder for STMP378X

config STMP3XXX_UNIQUE_ID
	bool "Support for UniqueID on boot media"
	default y

config STMP3XXX_UNIQUE_ID_OTP
	bool "UniqueID on OTP"
	depends on STMP3XXX_UNIQUE_ID
	default y

config STMP378X_RAM_FREQ_SCALING
	bool "RAM frequency scaling support"
	depends on ARCH_STMP378X
	default y

choice
	prompt "Select STMP378x RAM chip"
	depends on STMP378X_RAM_FREQ_SCALING

config STMP378X_RAM_MDDR
	bool "mDDR SDRAM"
config STMP378X_RAM_DDR
	bool "DDR SDRAM"

endchoice

config DMA_ZONE_SIZE
	int "DMA memory zone size"
	range 0 32
	default 12
	help
	  This is the size in MB for the DMA zone. The DMA zone is used for
	  dedicated memory for large contiguous video buffers

config VECTORS_PHY_ADDR
	int "vectors address"
	default 0
	help
	  This config set vectors table is located which physical address

# set if we need the UTMI transceiver code
config UTMI_MXC
	bool
	select UTMI_MXC_OTG if USB_GADGET && USB_EHCI_HCD && USB_OTG
	default y if USB_EHCI_FSL_UTMI || USB_GADGET_FSL_UTMI

config UTMI_MXC_OTG
	tristate
	help
	  Support for USB OTG pin detect using the UTMI transceiver on STMP378xxx platforms.

endif
