choice
	prompt "Select i.MXS board type"

config MACH_MX23EVK
	bool "Freescale MX23 EVK board"
	depends on ARCH_MX23
	select USB_ARCH_HAS_EHCI

endchoice

config VECTORS_PHY_ADDR
	int "vectors address"
	default 0
	help
	  This config set vectors table is located which physical address
